.catalog-item {
  background-color: white;
  position: relative;
  height: 400px;
  width: 270px;
  margin-top: 10%;
  margin-left: 20px;
  border-radius: 10px;
  border: 0.001em solid #e3e3e3;
  padding: 10px;
  font-family: Arial, serif;
  transition: 500ms ease;
}

.catalog-item:hover {
  box-shadow: 0 0 0 2px rgba(215, 215, 215, 0.74);
  transition: 500ms ease;
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.catalog-image {
  width: 270px;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.catalog-text {
  margin-left: 8px;
  margin-right: 5px
}

.catalog-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline
}
