<div class="catalog-item">
  <a [routerLink]="['/dish', item.id]">
    <img
      src="{{item.photo}}" (click)="redirect(item.id)"
      class="catalog-image" alt="{{item.name}}">
  </a>
  <div class="catalog-text">

    <h4 [routerLink]="['/dish', item.id]"><strong>{{item.name}}</strong></h4>

    <h5>{{item.ingredients.toString()}}</h5>

    <h5><strong>Калорії {{item.calories}}</strong></h5>

    <h5><strong>Вага {{item.weight}}</strong></h5>

    <div class="catalog-bottom">
      <h3><strong>{{item.price}} ГРН</strong></h3>
      <button class="catalog-button" (click)="addToCard()">Додати</button>
    </div>

  </div>
</div>
