<div class="catalog-item">
  <img src="https://thumbs.dreamstime.com/b/chocolate-ice-cream-cake-selective-focus-chocolate-ice-cream-cake-175643276.jpg"
       class="image" alt="">
  <h4><b>Tasty Soup</b></h4>

  <h5>Ingredient, Ingredient, Ingredient, Ingred, Ingredient</h5>
  <h5><b>Calories 300</b> </h5>
  <div  style="display: flex; margin-top: 30px; justify-content: space-between; align-items: baseline" >
    <h3><b>150 UAN</b></h3>
    <button class="button" style="background: #ff174f; border-color: white; border-radius: 10px; text-align: center;"><h3 style="color: white;">Add to card</h3></button>
  </div>

</div>
