<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>shopping_cart</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div class="card-row">
    <img class="card-image" src="https://thumbs.dreamstime.com/b/chocolate-ice-cream-cake-selective-focus-chocolate-ice-cream-cake-175643276.jpg">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-menu>
