<div class="dish-container">
  <div>
    <img class="dish-image" src="{{dish.photo}}" alt="">
  </div>

  <div class="ingredient-container">
    <p>{{dish.name}}</p>
    <h4>Смачний, соковитий, вітамінний і яскравий весняний салат з ніжною заправкою</h4>
    <div class="ingredient-image-container">
      <ng-container *ngFor="let ingredient of dish.ingredients">
        <div>
          <img class="ingredient-image" src="{{ingredient.photo}}" alt="">
          <h4>{{ingredient.name}}</h4>
        </div>
      </ng-container>
    </div>

    <div class="catalog-bottom">
      <h3><strong>{{dish.price}} ГРН</strong></h3>
      <button *ngIf="authService.isUser()" class="catalog-button">Додати</button>
      <span>
        <button *ngIf="authService.isAmin()" [routerLink]="['/dish-edit', dish.id]" mat-button class="admin-button">Edit dish</button>
      </span>
    </div>

  </div>
</div>
