<div style="display: flex; justify-content: space-between">
  <div>
    <form class="example-container" [formGroup]="options">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Назва</mat-label>
          <input matInput type="text" [formControl]="name">
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Категорія</mat-label>
          <mat-select [compareWith]="compareObjects"
                      formControlName="category">
            <mat-option *ngFor="let item of categories"
                        [value]="item">
              {{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Вага</mat-label>
          <input matInput type="number" [formControl]="weight">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Калорії</mat-label>
          <input matInput type="number" [formControl]="calories">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ціна</mat-label>
          <input matInput type="number" [formControl]="price">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Знижка</mat-label>
          <input matInput type="number" [formControl]="discount">
        </mat-form-field>
      </div>
      <ng-container *ngIf="dish">
        <app-ingredient-select
          [dish]="dish"
          [ingredients]="ingredientsControl">
        </app-ingredient-select>
      </ng-container>

      <button mat-button [disabled]="options.invalid" (click)="getValue()">Зберегти</button>
    </form>
  </div>
  <ng-container *ngIf="dish">
    <app-image-upload
      [image]="dish.photo"
      [id]="dish.id"
      [entityType]="entityType"
    ></app-image-upload>
  </ng-container>
</div>

