<mat-toolbar color="primary">
  <mat-toolbar-row class="footer-row">
    <div>
      <mat-icon>location_on</mat-icon>
      <button mat-button>{{location}}</button>
    </div>
    <div>
      <mat-icon> restaurant_menu</mat-icon>
      <button mat-button><h1>{{title}}</h1></button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-icon>local_phone</mat-icon>
    <button mat-button> {{phone}}</button>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-icon>mail_outline</mat-icon>
    <button mat-button>{{email}}</button>
  </mat-toolbar-row>

</mat-toolbar>
