<div class="upload-container">
  <ng-container *ngIf="image">
    <img class="upload-image" src="{{image}}" alt="">
  </ng-container>
  <mat-form-field class="image-uploader">
    <ngx-mat-file-input [formControl]="fileControl"
                        (change)="uploadPhoto()"
                        [accept]="accept"
                        [color]="color">
    </ngx-mat-file-input>
  </mat-form-field>
  <button [disabled]="fileControl.invalid" mat-button (click)="savePhoto()">Save image</button>
</div>
