.main-component {
  min-height: 60%;
  background: #f4f4f5;
  padding: 5% 7% 5% 7%;
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 120px;
  height: 50px;
  background: #fd0c4b;
  border-color: white;
  border-radius: 10px;
  font-family: Spartan, serif;
  font-size: 15px;
  color: white;
  -webkit-filter: brightness(100%);
  transition: all 500ms ease;
}

.button:hover {
  -webkit-filter: brightness(70%);
}
