<mat-toolbar color="primary" class="toolbar">
  <div>
    <button mat-button><h3>E-menu</h3></button>
  </div>
  <div>
    <ng-container *ngFor=" let category of categories;">
      <button mat-button (click)="handleButton(category.name)">{{category.name}}</button>
    </ng-container>
  </div>
  <div >
    <button *ngIf="authService.isUser()" mat-icon-button (click)="openDialog()" matBadge="{{cardService.dishesCount}}"
            [matBadgeHidden]="cardService.dishesCount === 0" matBadgePosition="before" matBadgeColor="warn"
            matBadgeSize="small">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button *ngIf="authService.isUser() && cardService.dishesCount > 0" class="catalog-button">Замовити</button>
  </div>
</mat-toolbar>
