/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.catalog-button {
  width: 120px;
  height: 50px;
  background: #fd0c4b;
  border-color: white;
  border-radius: 10px;
  font-family: Spartan, serif;
  font-size: 15px;
  color: white;
  -webkit-filter: brightness(100%);
  transition: all 500ms ease;
}

.admin-button {
  width: 120px;
  height: 50px;
  background: #2a2929;
  border-radius: 10px;
  font-family: Spartan, serif;
  font-size: 15px;
  color: white;
}

.catalog-button:hover {
  -webkit-filter: brightness(70%);
}
